<style>
body{
	background-color:#FFF;	
}
.mainContainer, .mainContent, .mainContentLayout2, div.magFeatureArea, #magazineFeature, .mainListGroup{
	width:100%;	
}
.topBarContainer{
	width:100%;
	overflow:hidden;
	height:118px;
	border-bottom:1px solid #000;	
}
.footerContainer {
   	background: none repeat scroll 0 0 #f1f1f1;
    border-top: 1px solid #ccc;
}
.footerContent {
	border:0px !important;
    margin: 0 auto;
    width: 1000px;
}

a {
	outline: none;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 */

.bx-wrapper {
	position: relative;
	padding: 0;
	*zoom: 1;
	max-width:100% !important;
}

/* ===================== */
/* === Normal Styles === */
/* ===================== */
#viewport-container {
	position: relative;
}

#page-container {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.feature-wrapper .bx-viewport {
  margin: auto;
  overflow: visible !important;
  width: 1000px !important;
}

.fs-nav {
  position: absolute;
  bottom: 0;
}

#fsnav-left {
  left: 5px;
}

#fsnav-right {
  right: 5px;
}

.bxslider > li {
	width: 1000px;
	height: 544px;
}

.slide-container {
	width:100%;
	height:100%;
	display:block;
	background-size: cover;
	background-position: center;
}

li.mix > .quicklink {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.liked {
	border: 3px solid green;
	box-sizing: border-box;
}

.likes-detected {
	background-color: green;
	color: #fff;
}

#tab-container {
	display: none;
}

.grid-container a {
	font-family: BrandonGrotesque-Regular, Helvetica, Arial, sans serif;
}

#complete-look {
  display: none;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

/* ========================== */
/* === Full screen styles === */
/* ========================== */
.fullscreen #viewport-container {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

.fullscreen .feature-wrapper .bx-viewport {
  margin: auto;
  overflow: unset !important;
  width: 100% !important;
  height:100% !important;
}

.fullscreen .feature-wrapper .bxslider > li {
	height: 100%;
}

.fullscreen .feature-wrapper .bxslider > li > img {
	min-width: 100%;
	min-height: 100%;
}

.fullscreen .feature-wrapper > #fsnav-container {
  height: 15px;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
}

.fullscreen .grid-container {
  background-color: rgba(255, 255, 255, 0.6);
  bottom: 1%;
  position: absolute;
  width: 99%;
  left: 0.5%;
}

.fullscreen #grid {
  margin: auto;
  width: 100%;
}

.fullscreen .bxslider > li {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center top;
}

.fullscreen .bx-wrapper {
	height:100%;
}

.fullscreen .bxslider {
	height:100%;
}

.fullscreen .bx-controls {
  background-color: #fff;
  height: 15%;
  position: fixed;
  top: -15%;
  width: 100%;
  z-index: 1;
}

.fullscreen #page-wrapper {
  background-color: #fff;
  position: fixed;
  top: -15%;
  width: 100%;
  height: 15%;
  left: 0;
}

.fullscreen #page-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.fullscreen #page-tab {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  bottom: -30px;
  box-shadow: 0 3px 2px -2px;
  content: "";
  cursor: pointer;
  display: block;
  height: 30px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
  z-index: 10;
}

.fullscreen .bx-pager.bx-custom-pager {
  height: 90%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 10%;
  white-space: nowrap;
  width: 100%;
}

.fullscreen .bx-pager-item {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  overflow: hidden;
  padding: 0 5px;
  width: unset;
}

.fullscreen .bx-pager-link {
  display: inline-block;
  height: 90%;
  line-height: 0;
  max-width:100%;
  overflow: hidden;
}

.fullscreen .bx-pager-link > img {
  height: 100%;
}

.fullscreen #grid > li {
  display: none;
  max-width: 120px;
  margin: 10px;
}

.fullscreen .slide-container {
	
}

/* = Bx Navigation = */
.bx-controls {
  bottom: 10px;
  position: absolute;
  width: 100%;
}

.ghost > a, .fs-nav > a {
  position: relative;
  z-index: 1;
  display: block;
  height: 31px;
  width: 32px;
  text-indent: -9999px;
  background-image: url(/images/magazine/features/SS15-carousel/controls.png);
}

.ghost > a {
	top: 250px;
}

.fs-nav > a {
	left: 0;
}

.bx-prev {
	float: right;
	right: 10px;
	background-position: 0 -32px;
}

.bx-next {
	float: left;
	left: 10px;
	background-position: -43px -32px;
}

.bx-pager.bx-custom-pager {
  margin: auto;
  position: relative;
  width: 1000px;
  overflow:hidden;
  white-space: nowrap;
}

.bx-pager-link.active {
  border: 2px solid #000;
}

/* = Thumbnails = */
.bx-pager-item {
  display: inline-block;
  padding: 10px;
  position: relative;
  width: 120px;
}

.bx-pager-link {
  display: inline-block;
  line-height: 0;
}

#thumb-left, #thumb-right {
  background-color: rgba(80, 80, 80, 0.8);
  cursor: pointer;
  display: block;
  height: 100%;
  position: absolute;
  width: 20px;
  z-index: 1;
  top: 0;
}

#thumb-left {
	left: 0;
}

#thumb-right {
	right: 0;
}

/* = Ghost overlay = */
.ghost {
	position: absolute;
	height:544px;
	top:0;
	background-image: url(/images/magazine/features/SS15-carousel/ghost-bg.png);
}

.fullscreen .ghost {
	display: none;
}

#ghost-left {
	left:0;
}

#ghost-right {
	right: 0;
}

.fullscreen-btn {
  left: -100px;
  position: absolute;
  top: 20px;
}

.fullscreen .fullscreen-btn {
  left: initial;
  position: fixed;
  top: 2%;
  right: 3%;
}

.fullscreen .fullscreen-btn > a {
	text-align: right;
}

/* === Grid Styles === */
#grid {
  width: 960px;
  margin: auto;
}

#grid > li {
  display: none;
  width: 20%;
}

#grid .quicklink > img {
  width: 100%;
}

.fail {
  /*display: none;*/
}



/* === Feature Styles === */

.feature-wrapper {
  position: relative;
}

.fullscreen .feature-wrapper {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 0 10px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* === Feature Specific Styles === */


.intro .slide-container {
	background-image: url('/images/magazine/features/SS15-carousel/slide0-bg.jpg');
}

.slide1 .slide-container {
	background-image: url('/images/magazine/features/SS15-carousel/slide1-bg.jpg');
}

.slide2 .slide-container {
	background-image: url('/images/magazine/features/SS15-carousel/slide2-bg.jpg');
}

.slide3 .slide-container {
	background-image: url('/images/magazine/features/SS15-carousel/slide3-bg.jpg');
}

.slide4 .slide-container {
	background-image: url('/images/magazine/features/SS15-carousel/slide4-bg.jpg');
}

.slide5 .slide-container {
	background-image: url('/images/magazine/features/SS15-carousel/slide5-bg.jpg');
}

body {
  overflow-y: scroll;
}

body.fullscreen {
  overflow: hidden;
}


/* === Media Queries === */
@media (max-width: 1100px) {
	.bx-next {
	  background-position: -43px -32px;
	  float: left;
	  left: -40px;
	}
	
	.bx-prev {
	  background-position: 0 -32px;
	  float: right;
	  right: -40px;
	}
}
</style>

<div class="feature-wrapper">
    <div id="viewport-container">
		<ul class="bxslider">
			<li class="active-slide empty intro">
				<div class="slide-container">
				
				</div>
			</li>
			
			<li class="slide1">
				<div class="slide-container">
				
				</div>
			</li>
			
			<li class="slide2">
				<div class="slide-container">
				
				</div>
			</li>

			<li class="slide3">
				<div class="slide-container">
				
				</div>
			</li>
			
			<li class="slide4">
				<div class="slide-container">
				
				</div>
			</li>
			
			<li class="slide5">
				<div class="slide-container">
				
				</div>
			</li>
						
		</ul>
		
		<div id="page-wrapper">
			<div id="page-container">
				
			</div>
			<div id="page-tab"></div>
		</div>
	</div>
	
	<div id="ghost-left" class="ghost"></div>
	<div id="ghost-right" class="ghost">
		<div class="fullscreen-btn">
			<a href="#">Full screen</a>
		</div>
	</div>
		
	<div id="fsnav-container">
		<div id="fsnav-left" class="fs-nav"></div>
		<div id="fsnav-right" class="fs-nav"></div>
		<div class="fullscreen-btn">
			<a href="#">Small screen</a>
		</div>
	</div>
		
	<div class="grid-container">
		<a href="#" class="quicklink" id="complete-look">Buy Complete Look</a>
		<ul id="grid">
			<!-- Products are dynamically created here -->
		</ul>
	</div>    
</div>

<script type="text/javascript" src="/content/scripts/jquery.bxslider.min.js"></script>
<script src="/content/scripts/imagesloaded.pkgd.min.js"></script>
<script src="/content/scripts/jquery.mixitup-v2.js"></script>

<script>
$(document).ready(function(){
	
	
	
	//var featureStart = $(".featureStart").offset().top;
	//$(window).scrollTop(featureStart);
	
	var feature = {
		el: {
			window: $(window),
			featureWrapper: $('.feature-wrapper'),
			grid: $('#grid'),
			body: $('body'),
			pagerWrapper: $('#page-wrapper'),
			pageContainer: $('#page-container'),
			pager: $('.bx-custom-pager'),
			pagerItem: $('.bx-pager-item'),
			bxSlider: $('.bxslider'),
			bxViewport: $('.bx-viewport'),
			ghost: $('.ghost')
		},
		
		vars: {
			quickshopPath: '/products/outfitting.aspx?qr=',
			imgPath: '/images/magazine/features/SS15-carousel/',
			navLocation: {normal: '#ghost-', fullscreen: '#fsnav-'},
			normalWidth: 1000,
			timer: null,
			currentSlide: function() { $('.active-slide').index() - 1; }
		},
		
		window: {
			width: function() { return feature.el.window.width() },
			resize: function(slider) {
				feature.bxSlider.setGhosts();				
				
				if($body.hasClass('fullscreen')) {
					clearTimeout(feature.vars.timer);
					feature.el.pageWrapper.removeAttr('style');
					feature.vars.timer = setTimeout(function(){
						var currentSlide = $('.active-slide').index() - 1;
						slider.reloadSlider(feature.bxSlider.getSliderAttr(feature.bxSlider.width, currentSlide, feature.vars.navLocation.fullscreen));
						if(feature.el.pageWrapper.hasClass('open')) {
							feature.el.pageWrapper.removeClass('open');
						}
					}, 200);
					
				}
			}
		},
		
		productCodes: {
			array:
				[
					null
					,'21687NAV|22338NAV|22343NAV|29072NAV|21679NAV'
					,'29071GRY|32495DBL|22341IND'
					,'21683DBL|21675IND|31741BBL|31735DB'
					,'22348IND|22340BL'
					,'22335BLU|21683BB'
				],
			merged: function() {
				return feature.productCodes.array.toString().replace(/,/g , '|').slice(1);
			}
			
		},
		
		productGrid: {
			generateGrid: function() {
				var html = '';
				var path = feature.vars.quickshopPath + feature.productCodes.merged;
				var productCodes = feature.productCodes.array;
				$.get(path, function(data) {
					var $data = $(data);
					var img = $data.find('.ProductMain');
					var imgEq = -1;
					for(i = 0; i < productCodes.length; i++) {
						if(productCodes[i] != null) {
							var current = productCodes[i];
							var array = productCodes[i].split('|');
							for(x = 0; x < array.length; x++) {
								var tag = '<li class="mix slide' + i + '"><a class="quicklink" href="~/products/outfitting.aspx?qr=' + array[x] + '"><img src="' + img.eq(++imgEq).attr('src') + '" /></a></li>';
								html += tag;
							}
						}
					}
				});
				return html;
			},
			prependGrid: function() {
				feature.el.grid.prepend(feature.productGrid.generateGrid);
			}
		},
		
		quicklink: function() {
			$('.quicklink').each(function(){			
				$(this).fancybox({				
					'type':'iframe',
					'width':420,
					'height':190,
					'padding':25,
					'onComplete' : function() {
						$('#fancybox-frame').load(function() { 
							$('#fancybox-content').height($(this).contents().find('body').height()+15);
							$.fancybox.center(true);
						});
					}
				});    
			});
		},
		
		bxSlider: {
			slider: function() { return feature.el.bxSlider.bxSlider(feature.bxSlider.newSlider(false, 0)) },
			getSliderAttr: function(width, currentIndex, navLocation, pagination) {
				return {
						slideWidth: width
						,startSlide: currentIndex
						,pagerSelector: $('#page-container')
						,buildPager: function(slideIndex){
							var thumb = '<img src="' + feature.vars.imgPath + 'thumbnail-slide'+ slideIndex +'.jpg" />';
							return thumb;
						}
						,onSliderLoad: function(currentIndex) {
							feature.el.grid.mixItUp({
								load: {
									filter: 'none'
								},
								onMixEnd: function() {
									
								}
							});
							currentSlide = currentIndex;
						}
						,onSlideBefore: function($slideElement, oldIndex, newIndex){	
							$('.active-slide').removeClass('active-slide');
							$('li', '.bxslider').eq(newIndex + 1).addClass('active-slide');
							if(feature.el.pagerWrapper.hasClass('open')) {
								toggleNav(feature.el.pagerWrapper, 'close');
							}
							var filter = (newIndex != 0) ? '.slide' + newIndex : 'none';
							feature.el.grid.mixItUp('filter', filter);
							//currentSlide = newIndex;
							$('#complete-look').attr('href', '/products/outfitting.aspx?qr=' + feature.productCodes.array[newIndex]);
							if(feature.productCodes.array[newIndex] != null) {
								if($('#complete-look').is(':visible')) {
									return false;
								}
								$('#complete-look').fadeIn();
							} else {
								$('#complete-look').fadeOut();
							}
							//
							
						}
						,onSlideAfter: function($slideElement, oldIndex, newIndex){

						}
						,prevSelector: navLocation + 'left'
						,nextSelector: navLocation + 'right'
					}
			},
			newSlider: function(fullscreen, initialSlide) {
				var width = (fullscreen) ? feature.window.width : feature.vars.normalWidth;
				var navLocation = (fullscreen) ? feature.vars.navLocation.fullscreen : feature.vars.navLocation.normal;
				var slider = feature.el.bxSlider;
				var attr = feature.bxSlider.getSliderAttr(width, initialSlide, navLocation);
				return attr;
				//slider.bxSlider(attr);
			},
			setGhosts: function() {
				var pos = $('.bx-viewport').offset();
				var width = $('.bx-viewport').width()
				var offset = pos.left + width;
				feature.el.ghost.each(function(){
					var $this = $(this);
					var side = $this.attr('id').replace('ghost-', '');
					var css = (side === 'left') ? {right: offset} : {left: offset};
					$this.css(css);
				});
			},
			goFullscreen: function() {
				feature.el.body.toggleClass('fullscreen');
				if(feature.el.body.hasClass('fullscreen')) {
					feature.bxSlider.slider.reloadSlider(feature.bxSlider.newSlider(true, feature.vars.currentSlide));
				} else {
					feature.bxSlider.slider.reloadSlider(feature.bxSlider.newSlider(false, feature.vars.currentSlide));
					if(feature.el.pagerWrapper.hasClass('open')) {
						toggleNav(feature.el.pagerWrapper, 'close');
					}
					
				}
			}
		},
		
		pagination: {
			settings: {
				visibleItems: 7,
				navClass: 'pag-nav'
			},
			item: {
				length: function() { return feature.el.pagerItem.length },
				width: function() { return feature.el.pagerItem.outerWidth() }
			},
			initialisePager: function() {
				var totalWidth = feature.pagination.item.width * feature.pagination.item.length;
				var navClass = feature.pagination.settings.navClass;
				if(totalWidth > feature.el.pageContainer.width()) {
					feature.el.bxPager.append('<div class="' + navClass + '" id="thumb-left"><</div><div class="' + navClass + '" id="thumb-right">></div>');
					return true;
				}
				return false;
			},
			movePagination: function(direction, distance, max) {
				var distance = feature.pagination.item.width;
				if(feature.el.pagerItem.filter(':animated').length === 0) {
					var pos = parseInt(feature.el.pagerItem.css('right'));
					if( (pos + distance) > max && direction === 'right' || 
						(pos - distance) < 0 && direction === 'left') {
							return false;
					}
					var mod = (direction === 'left') ? '-=' : '+=';
					feature.el.pagerItem.stop(false).animate({right: mod + distance});
				}
			}
		},
		
		initialise: function() {
			feature.productGrid.prependGrid();
			feature.quicklink();
			feature.bxSlider.slider();
			feature.pagination.initialisePager();
			feature.bxSlider.setGhosts();
			feature.el.window.resize(function(){
				feature.window.resize();
			});
			
			/*$('a', '.fullscreen-btn').click(function(e){
				e.preventDefault();
				feature.el.body.toggleClass('fullscreen');
				if(feature.el.body.hasClass('fullscreen')) {
					
					slider.reloadSlider(feature.bxSlider.newSlider(true, feature.vars.currentSlide));
				} else {
					slider.reloadSlider(feature.bxSlider.newSlider(false, feature.vars.currentSlide));
					if($pageWrapper.hasClass('open')) {
						toggleNav($pageWrapper,  'close');
					}
					
				}
				$window.resize();
				
			});*/
		}
		
	};
	
	feature.initialise();
	$('a', '.fullscreen-btn').click(function(){
		console.log('test');
		feature.bxSlider.goFullscreen();
	});
	/* === Window resize initialisation === */
	/*$window.resize(function(){
		feature.window.resize();
		//feature.bxSlider.setGhosts();
	});
	$window.resize();	*/
	
	function toggleNav(pageWrapper, direction) {
		var pagerHeight = $('#page-wrapper').height();
		var mod = (direction === 'open') ? '+=' : '-=';
		pageWrapper.animate({
			top: mod + pagerHeight
		}).toggleClass('open');
		if(direction == 'close'){
			pageWrapper.removeClass('open');
		}
		console.log('caught');
	}
			
	/*$('#page-tab').click(function(){
		if($pageWrapper.hasClass('open')) {
			toggleNav($pageWrapper);
			
		} else {
			toggleNav($pageWrapper, 'open');
		}
	});*/
	
	
});
</script>
